In [342]:
import pandas as pd
import numpy as np
import json

#### Load Twitter Archive Enhanced

In [236]:
df_twitter = pd.read_csv('twitter-archive-enhanced.csv')

In [237]:
df_twitter.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643555336193/photo/1,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","This is Tilly. She's just checking pup on you. Hopes you're doing ok. If not, she's available for pats, snugs, boops, the whole bit. 13/10 https://t.co/0Xxu71qeIV",NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421306343426/photo/1,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Archie. He is a rare Norwegian Pouncing Corgo. Lives in the tall grass. You never know when one may strike. 12/10 https://t.co/wUnZnhtVJB,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181378084864/photo/1,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Darla. She commenced a snooze mid meal. 13/10 happens to the best of us https://t.co/tD36da7qLQ,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557279858688/photo/1,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","This is Franklin. He would like you to stop calling him ""cute."" He is a very fierce shark and should be respected as such. 12/10 #BarkWeek https://t.co/AtUZn91f7f",NaN,NaN,NaN,"https://twitter.com/dog_rates/status/891327558926688256/photo/1,https://twitter.com/dog_rates/status/891327558926688256/photo/1",12,10,Franklin,None,None,None,None

#### Load Tweet JSON

In [380]:
tweets_json = [line.rstrip('\n') for line in open('tweet_json3.txt')]

#### Load Image Predicition File

In [34]:
df_image_predict = pd.read_csv('image_prediction_file.tsv',sep='\t')

## Assess

#### Twitter archive enhanced file

In [3]:
df_twitter.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [12]:
df_twitter['doggo'].value_counts()

None     2259
doggo      97
Name: doggo, dtype: int64

In [13]:
df_twitter['floofer'].value_counts()

None       2346
floofer      10
Name: floofer, dtype: int64

In [14]:
df_twitter['pupper'].value_counts()

None      2099
pupper     257
Name: pupper, dtype: int64

In [15]:
df_twitter['puppo'].value_counts()

None     2326
puppo      30
Name: puppo, dtype: int64

- I thought variables 'floofer', 'pupper', 'doggo' and 'puppo' should be exclusive, in another words, if the row contain the value 1 for pupper variable, so the value variable for 'doggo', and the others, should be 0. But not, the variables are not exclusives.

In [19]:
df_twitter[df_twitter['pupper'] == 'pupper']['doggo'].value_counts()

None     245
doggo     12
Name: doggo, dtype: int64

In [21]:
df_twitter['timestamp'].head()

0    2017-08-01 16:23:56 +0000
1    2017-08-01 00:17:27 +0000
2    2017-07-31 00:18:03 +0000
3    2017-07-30 15:58:51 +0000
4    2017-07-29 16:00:24 +0000
Name: timestamp, dtype: object

In [23]:
df_twitter['source'].unique()

array(['<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>',
       '<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>',
       '<a href="http://vine.co" rel="nofollow">Vine - Make a Scene</a>',
       '<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>'],
      dtype=object)

In [32]:
df_twitter['in_reply_to_status_id'].value_counts()

6.671522e+17    2
8.562860e+17    1
8.131273e+17    1
6.754971e+17    1
6.827884e+17    1
8.265984e+17    1
6.780211e+17    1
6.689207e+17    1
6.658147e+17    1
6.737159e+17    1
7.590995e+17    1
8.862664e+17    1
7.384119e+17    1
7.727430e+17    1
7.468859e+17    1
8.634256e+17    1
6.693544e+17    1
6.914169e+17    1
6.920419e+17    1
6.753494e+17    1
7.291135e+17    1
8.406983e+17    1
6.747400e+17    1
7.501805e+17    1
6.744689e+17    1
7.638652e+17    1
6.747934e+17    1
8.503288e+17    1
6.747522e+17    1
8.816070e+17    1
               ..
8.380855e+17    1
8.211526e+17    1
8.558616e+17    1
8.558585e+17    1
7.032559e+17    1
6.678065e+17    1
8.018543e+17    1
7.667118e+17    1
6.855479e+17    1
6.717299e+17    1
6.715610e+17    1
6.758457e+17    1
6.924173e+17    1
7.476487e+17    1
8.381455e+17    1
6.903413e+17    1
8.476062e+17    1
8.352460e+17    1
6.813394e+17    1
8.795538e+17    1
6.860340e+17    1
8.571567e+17    1
6.765883e+17    1
7.044857e+17    1
8.707262e+17    1
8.482121e+17    1
6.715449e+17    1
6.936422e+17    1
6.849598e+17    1
7.331095e+17    1
Name: in_reply_to_status_id, Length: 77, dtype: int64

In [36]:
df_twitter['retweeted_status_timestamp'].value_counts()

2016-11-06 01:33:58 +0000    1
2015-12-06 00:17:55 +0000    1
2016-02-02 23:52:22 +0000    1
2015-12-29 04:31:49 +0000    1
2016-07-13 23:48:51 +0000    1
2017-01-11 17:01:16 +0000    1
2015-12-06 01:56:44 +0000    1
2015-11-16 04:02:55 +0000    1
2015-12-24 16:00:30 +0000    1
2017-03-11 18:35:42 +0000    1
2017-03-04 00:21:08 +0000    1
2016-09-27 02:53:48 +0000    1
2017-03-16 00:00:07 +0000    1
2017-01-02 18:38:42 +0000    1
2016-03-07 18:09:06 +0000    1
2016-08-11 20:40:41 +0000    1
2016-10-19 15:37:03 +0000    1
2016-11-20 00:59:15 +0000    1
2016-11-09 00:37:46 +0000    1
2015-11-28 03:31:48 +0000    1
2017-04-01 21:42:03 +0000    1
2016-08-01 16:42:51 +0000    1
2017-01-11 02:21:57 +0000    1
2016-07-06 15:54:42 +0000    1
2016-03-01 20:11:59 +0000    1
2016-08-08 01:44:46 +0000    1
2016-06-05 19:47:03 +0000    1
2016-06-25 17:31:25 +0000    1
2017-05-06 17:49:42 +0000    1
2016-09-26 17:55:00 +0000    1
                            ..
2017-02-16 23:23:38 +0000    1
2017-05-22 00:28:40 +0000    1
2016-07-05 20:41:01 +0000    1
2016-10-06 01:23:05 +0000    1
2016-09-28 00:46:20 +0000    1
2015-12-24 00:58:27 +0000    1
2016-03-09 16:56:11 +0000    1
2015-12-28 17:12:42 +0000    1
2015-11-19 01:27:25 +0000    1
2017-05-12 16:05:02 +0000    1
2017-06-19 17:14:49 +0000    1
2016-08-28 16:51:16 +0000    1
2016-06-07 00:36:02 +0000    1
2017-04-20 18:14:33 +0000    1
2016-11-19 19:55:41 +0000    1
2017-01-14 17:00:24 +0000    1
2017-06-09 16:22:42 +0000    1
2016-07-30 17:56:51 +0000    1
2017-01-07 20:18:46 +0000    1
2015-12-30 06:37:25 +0000    1
2016-07-27 00:40:12 +0000    1
2015-12-12 02:23:01 +0000    1
2016-11-22 20:58:07 +0000    1
2016-09-19 01:42:24 +0000    1
2017-06-23 01:10:23 +0000    1
2016-02-26 02:20:37 +0000    1
2017-02-08 17:00:26 +0000    1
2015-11-24 03:51:38 +0000    1
2016-10-07 00:06:50 +0000    1
2016-02-21 01:19:47 +0000    1
Name: retweeted_status_timestamp, Length: 181, dtype: int64

- ''These ratings almost always have a denominator of 10''

In [39]:
df_twitter['rating_denominator'].value_counts()

10     2333
11        3
50        3
80        2
20        2
2         1
16        1
40        1
70        1
15        1
90        1
110       1
120       1
130       1
150       1
170       1
7         1
0         1
Name: rating_denominator, dtype: int64

- ''The numerators, though? Almost always greater than 10. 11/10, 12/10, 13/10, etc. Why? Because "they're good dogs Brent."

In [40]:
df_twitter['rating_numerator'].value_counts()

12      558
11      464
10      461
13      351
9       158
8       102
7        55
14       54
5        37
6        32
3        19
4        17
1         9
2         9
420       2
0         2
15        2
75        2
80        1
20        1
24        1
26        1
44        1
50        1
60        1
165       1
84        1
88        1
144       1
182       1
143       1
666       1
960       1
1776      1
17        1
27        1
45        1
99        1
121       1
204       1
Name: rating_numerator, dtype: int64

In [25]:
pd.set_option('display.max_colwidth', -1) # permit the unlimited number of characters

In [48]:
df_twitter[df_twitter['rating_numerator'] < 10][['text','rating_numerator','retweeted_status_id','retweeted_status_user_id','tweet_id']]

,text,rating_numerator,retweeted_status_id,retweeted_status_user_id,tweet_id
45,"This is Bella. She hopes her smile made you smile. If not, she is also offering you her favorite monkey. 13.5/10 https://t.co/qjrljjt948",5,NaN,NaN,883482846933004288
229,"This is Jerry. He's doing a distinguished tongue slip. Slightly patronizing tbh. You think you're better than us, Jerry? 6/10 hold me back https://t.co/DkOBbwulw1",6,NaN,NaN,848212111729840128
315,When you're so blinded by your systematic plagiarism that you forget what day it is. 0/10 https://t.co/YbEJPkg4Ag,0,NaN,NaN,835152434251116546
387,"I was going to do 007/10, but the joke wasn't worth the &lt;10 rating",7,NaN,NaN,826598799820865537
462,RT @dog_rates: Meet Herschel. He's slightly bigger than ur average pupper. Looks lonely. Could probably ride 7/10 would totally pet https:/…,7,6.924173e+17,4.196984e+09,817502432452313088
485,RT @dog_rates: Meet Beau &amp; Wilbur. Wilbur stole Beau's bed from him. Wilbur now has so much room for activities. 9/10 for both pups https:/…,9,6.981954e+17,4.196984e+09,814578408554463233
599,RT @dog_rates: Here we see a rare pouched pupper. Ample storage space. Looks alert. Jumps at random. Kicked open that door. 8/10 https://t.…,8,6.769365e+17,4.196984e+09,798682547630837760
605,RT @dog_rates: Not familiar with this breed. No tail (weird). Only 2 legs. Doesn't bark. Surprisingly quick. Shits eggs. 1/10 https://t.co/…,1,6.661041e+17,4.196984e+09,798576900688019456
730,Who keeps sending in pictures without dogs in them? This needs to stop. 5/10 for the mediocre road https://t.co/ELqelxWMrC,5,NaN,NaN,781661882474196992
745,RT @dog_rates: This is Hank. He's mischievous af. Doesn't even know what he was trying to do here. 8/10 quit the shit Hank damn https://t.c…,8,7.533757e+17,4.196984e+09,780092040432480260
764,RT @dog_rates: Meet Gerald. He's a fairly exotic doggo. Floofy af. Inadequate knees tho. Self conscious about large forehead. 8/10 https://…,8,7.681934e+17,4.196984e+09,777953400541634568
765,This is Wesley. He's clearly trespassing. Seems rather h*ckin violent too. Weaponized forehead. 3/10 wouldn't let in https://t.co/pL7wbMRW7M,3,NaN,NaN,777885040357281792
784,"RT @dog_rates: After so many requests, this is Bretagne. She was the last surviving 9/11 search dog, and our second ever 14/10. RIP https:/…",9,7.403732e+17,4.196984e+09,775096608509886464
814,Another pic without a dog in it? What am I supposed to do? Rate the carpet? Fine I will. 7/10 looks adequately comfy https://t.co/OJZQ6I4gGd,7,NaN,NaN,771014301343748096
835,Meet Gerald. He's a fairly exotic doggo. Floofy af. Inadequate knees tho. Self conscious about large forehead. 8/10 https://t.co/WmczvjCWJq,8,NaN,NaN,768193404517830656
845,This is Shadoe. Her tongue flies out of her mouth at random. Can't have a serious conversation with her. 9/10 https://t.co/Tytt15VquG,9,NaN,NaN,766423258543644672
859,This is Clark. He collects teddy bears. It's absolutely h*ckin horrifying. 8/10 please stop this Clark https://t.co/EDMcwt86fU,8,NaN,NaN,763183847194451968
860,RT @dog_rates: Meet Eve. She's a raging alcoholic 8/10 (would b 11/10 but pupper alcoholism is a tragic issue that I can't condone) https:/…,8,6.732953e+17,4.196984e+09,763167063695355904
883,This is Fido. He can tell the weather. Not good at fetch tho. Never comes when called. 4/10 would probably still pet https://t.co/4gOv2Q3iKP,4,NaN,NaN,760252756032651264
896,Meet Toby. He has a drinking problem. Inflatable marijuana plant in the back is also not a good look. 7/10 cmon Toby https://t.co/Cim4DSj6Oi,7,NaN,NaN,759099523532779520
906,Teagan reads entire books in store so they're free. Loved 50 Shades of Grey (how dare I make that joke so late) 9/10 https://t.co/l46jwv5WYv,9,NaN,NaN,758041019896193024
912,Here's another picture without a dog in it. Idk why you guys keep sending these. 4/10 just because that's a neat rug https://t.co/mOmnL19Wsl,4,NaN,NaN,757596066325864448
915,"This is Devón (pronounced ""Eric""). He forgot how to eat the apple halfway through. Wtf Devón get it together. 8/10 https://t.co/7waRPODGyO",8,NaN,NaN,757354760399941633
936,This is Hank. He's mischievous af. Doesn't even know what he was trying to do here. 8/10 quit the shit Hank damn https://t.co/3r7wjfsXHc,8,NaN,NaN,753375668877008896
946,Here are three doggos completely misjudging an airborne stick. Decent efforts tho. All 9/10 https://t.co/HCXQL4fGVZ,9,NaN,NaN,752568224206688256
948,Here's a doggo trying to catch some fish. 8/10 futile af (vid by @KellyBauerx) https://t.co/jwd0j6oWLE,8,NaN,NaN,752334515931054080
956,Please stop sending it pictures that don't even have a doggo or pupper in them. Churlish af. 5/10 neat couch tho https://t.co/u2c9c7qSg8,5,NaN,NaN,751583847268179968
964,This is Malcolm. He's absolutely terrified of heights. 8/10 hang in there pupper https://t.co/SVU00Sc9U2,8,NaN,NaN,750506206503038976
966,This is Zoe. She was trying to stealthily take a picture of you but you just noticed. 9/10 not so sneaky pupper https://t.co/FfH3o88Vta,9,NaN,NaN,750383411068534784
987,This is Dietrich. He hops at random. Other doggos don't understand him. It upsets him greatly. 8/10 would comfort https://t.co/U8cSRz8wzC,8,NaN,NaN,749036806121881602
...,...,...,...,...,...
2312,This is Josep. He is a Rye Manganese mix. Can drive w eyes closed. Very irresponsible. Menace on the roadways. 5/10 https://t.co/XNGeDwrtYH,5,NaN,NaN,666776908487630848
2314,This is a golden Buckminsterfullerene named Johm. Drives trucks. Lumberjack (?). Enjoys wall. 8/10 would hug softly https://t.co/uQbZJM2DQB,8,NaN,NaN,666701168228331520
2315,This is Christoper. He is a spotted Penne. Can easily navigate stairs. 8/10 https://t.co/bg4TqvvkuF,8,NaN,NaN,666691418707132416
2316,Cool dog. Enjoys couch. Low monotone bark. Very nice kicks. Pisses milk (must be rare). Can't go down stairs. 4/10 https://t.co/vXMKrJC81s,4,NaN,NaN,666649482315059201
2317,This is Jimothy. He is a Botwanian Gouda. Can write (impressive). Very erect tail. Still looking for hoco date. 9/10 https://t.co/LEkZjZxESQ,9,NaN,NaN,666644823164719104
2319,This is Scout. She is a black Downton Abbey. Isn't afraid to get dirty. 9/10 nothing bad to say https://t.co/kH60oka1HW,9,NaN,NaN,666447344410484738
2320,Here we see a lone northeastern Cumberbatch. Half ladybug. Only builds with bricks. Very confident with body. 7/10 https://t.co/7LtjBS0GPK,7,NaN,NaN,666437273139982337
2322,Oh boy what a pup! Sunglasses take this one to the next level. Weirdly folds front legs. Pretty big. 6/10 https://t.co/yECbFrSArM,6,NaN,NaN,666430724426358785
2323,Here we have an Austrian Pulitzer. Collectors edition. Levitates (?). 7/10 would garden with https://t.co/NMQq6HIglK,7,NaN,NaN,666428276349472768
2326,This is quite the dog. Gets really excited when not in water. Not very soft tho. Bad at fetch. Can't do tricks. 2/10 https://t.co/aMCTNWO94t,2,NaN,NaN,666411507551481857
2327,This is a southern Vesuvius bumblegruff. Can drive a truck (wow). Made friends with 5 other nifty dogs (neat). 7/10 https://t.co/LopTBkKa8h,7,NaN,NaN,666407126856765440
2328,Oh goodness. A super rare northeast Qdoba kangaroo mix. Massive feet. No pouch (disappointing). Seems alert. 9/10 https://t.co/Dc7b0E8qFE,9,NaN,NaN,666396247373291520
2330,Unique dog here. Very small. Lives in container of Frosted Flakes (?). Short legs. Must be rare 6/10 would still pet https://t.co/XMD9CwjEnM,6,NaN,NaN,666362758909284353
2331,Here we have a mixed Asiago from the Galápagos Islands. Only one ear working. Big fan of marijuana carpet. 8/10 https://t.co/tltQ5w9aUO,8,NaN,NaN,666353288456101888
2333,This is an extremely rare horned Parthenon. Not amused. Wears shoes. Overall very nice. 9/10 would pet aggressively https://t.co/QpRjllzWAL,9,NaN,NaN,666337882303524864
2334,This is a funny dog. Weird toes. Won't come down. Loves branch. Refuses to eat his food. Hard to cuddle with. 3/10 https://t.co/IIXis0zta0,3,NaN,NaN,666293911632134144
2335,This is an Albanian 3 1/2 legged Episcopalian. Loves well-polished hardwood flooring. Penis on the collar. 9/10 https://t.co/d9NcXFKwLv,1,NaN,NaN,666287406224695296
2338,Not familiar with this breed. No tail (weird). Only 2 legs. Doesn't bark. Surprisingly quick. Shits eggs. 1/10 https://t.co/Asgdc6kuLX,1,NaN,NaN,666104133288665088
2340,Can stand on stump for what seems like a while. Built that birdhouse? Impressive. Made friends with a squirrel. 8/10 https://t.co/Ri4nMTLq5C,8,NaN,NaN,666099513787052032
2341,This appears to be a Mongolian Presbyterian mix. Very tired. Tongue slip confirmed. 9/10 would lie down with https://t.co/mnioXo3IfP,9,NaN,NaN,666094000022159362
2342,Here we have a well-established sunblockerspaniel. Lost his other flip-flop. 6/10 not very waterproof https://t.co/3RU6x0vHB7,6,NaN,NaN,666082916733198337
2344,Here we have a northern speckled Rhododendron. Much sass. Gives 0 fucks. Good tongue. 9/10 would caress sensually https://t.co/ZoL8kq2XFx,9,NaN,NaN,666071193221509120
2346,Here is the Rand Paul of retrievers folks! He's probably good at poker. Can drink beer (lol rad). 8/10 good dog https://t.co/pYAJkAe76p,8,NaN,NaN,666058600524156928
2347,My oh my. This is a rare blond Canadian terrier on wheels. Only $8.98. Rather docile. 9/10 very rare https://t.co/yWBqbrzy8O,9,NaN,NaN,666057090499244032
2349,This is an odd dog. Hard on the outside but loving on the inside. Petting still fun. Doesn't play catch well. 2/10 https://t.co/v5A4vzSDdc,2,NaN,NaN,666051853826850816
2351,Here we have a 1949 1st generation vulpix. Enjoys sweat tea and Fox News. Cannot be phased. 5/10 https://t.co/4B7cOc1EDq,5,NaN,NaN,666049248165822465
2352,This is a purebred Piers Morgan. Loves to Netflix and chill. Always looks like he forgot to unplug the iron. 6/10 https://t.co/DWnyCjf2mx,6,NaN,NaN,666044226329800704
2353,Here is a very happy pup. Big fan of well-maintained decks. Just look at that tongue. 9/10 would cuddle af https://t.co/y671yMhoiR,9,NaN,NaN,666033412701032449
2354,This is a western brown Mitsubishi terrier. Upset about leaf. Actually 2 dogs here. 7/10 would walk the shit out of https://t.co/r7mOb2m0UI,7,NaN,NaN,666029285002620928
2355,Here we have a Japanese Irish Setter. Lost eye in Vietnam (?). Big fan of relaxing on stair. 8/10 would pet https://t.co/BLDqew2Ijj,8,NaN,NaN,666020888022790149

In [51]:
df_twitter[df_twitter['text'].str.contains("&")].head(20)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
113,870726314365509632,8.707262e+17,1.648776e+07,2017-06-02 19:38:25 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",@ComplicitOwl @ShopWeRateDogs &gt;10/10 is reserved for dogs,NaN,NaN,NaN,NaN,10,10,None,None,None,None,None
262,842765311967449089,NaN,NaN,2017-03-17 15:51:22 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Meet Indie. She's not a fan of baths but she's definitely a fan of hide &amp; seek. 12/10 click the link to help Indie\n\nhttps://t.co/fvGkIuAlFK https://t.co/kiCFtmJd7l,NaN,NaN,NaN,"https://www.gofundme.com/get-indie-home/,https://twitter.com/dog_rates/status/842765311967449089/photo/1,https://twitter.com/dog_rates/status/842765311967449089/photo/1",12,10,Indie,None,None,None,None
273,840728873075638272,NaN,NaN,2017-03-12 00:59:17 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",RT @dog_rates: This is Pipsy. He is a fluffball. Enjoys traveling the sea &amp; getting tangled in leash. 12/10 I would kill for Pipsy https://…,6.671522e+17,4.196984e+09,2015-11-19 01:27:25 +0000,https://twitter.com/dog_rates/status/667152164079423490/photo/1,12,10,Pipsy,None,None,None,None
274,840698636975636481,8.406983e+17,8.405479e+17,2017-03-11 22:59:09 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",@0_kelvin_0 &gt;10/10 is reserved for puppos sorry Kevin,NaN,NaN,NaN,NaN,10,10,None,None,None,None,None
320,834458053273591808,NaN,NaN,2017-02-22 17:41:18 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","Meet Chester (bottom) &amp; Harold (top). They are different dogs not only in appearance, but in personality as well. Both 12/10 symbiotic af https://t.co/8ZOZS2FSJe",NaN,NaN,NaN,https://twitter.com/dog_rates/status/834458053273591808/photo/1,12,10,Chester,None,None,None,None
387,826598799820865537,8.265984e+17,4.196984e+09,2017-02-01 01:11:25 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","I was going to do 007/10, but the joke wasn't worth the &lt;10 rating",NaN,NaN,NaN,NaN,7,10,None,None,None,None,None
461,817536400337801217,NaN,NaN,2017-01-07 01:00:41 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","Say hello to Eugene &amp; Patti Melt. No matter how dysfunctional they get, they will never top their owners. Both 12/10 would pet at same time https://t.co/jQUdvtdYMu",NaN,NaN,NaN,"https://twitter.com/dog_rates/status/817536400337801217/photo/1,https://twitter.com/dog_rates/status/817536400337801217/photo/1,https://twitter.com/dog_rates/status/817536400337801217/photo/1,https://twitter.com/dog_rates/status/817536400337801217/photo/1",12,10,Eugene,None,None,None,None
485,814578408554463233,NaN,NaN,2016-12-29 21:06:41 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",RT @dog_rates: Meet Beau &amp; Wilbur. Wilbur stole Beau's bed from him. Wilbur now has so much room for activities. 9/10 for both pups https:/…,6.981954e+17,4.196984e+09,2016-02-12 17:22:12 +0000,https://twitter.com/dog_rates/status/698195409219559425/photo/1,9,10,Beau,None,None,None,None
516,810984652412424192,NaN,NaN,2016-12-19 23:06:23 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Meet Sam. She smiles 24/7 &amp; secretly aspires to be a reindeer. \nKeep Sam smiling by clicking and sharing this link:\nhttps://t.co/98tB8y7y7t https://t.co/LouL5vdvxx,NaN,NaN,NaN,"https://www.gofundme.com/sams-smile,https://twitter.com/dog_rates/status/810984652412424192/photo/1",24,7,Sam,None,None,None,None
799,772826264096874500,NaN,NaN,2016-09-05 15:58:34 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Meet Roosevelt. He's preparing for takeoff. Make sure tray tables are in their full pupright &amp; licked position\n11/10 https://t.co/7CQkn3gHOQ,NaN,NaN,NaN,https://twitter.com/dog_rates/status/772826264096874500/photo/1,11,10,Roosevelt,None,None,None,None
889,759793422261743616,NaN,NaN,2016-07-31 16:50:42 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","Meet Maggie &amp; Lila. Maggie is the doggo, Lila is the pupper. They are sisters. Both 12/10 would pet at the same time https://t.co/MYwR4DQKll",NaN,NaN,NaN,"https://twitter.com/dog_rates/status/759793422261743616/photo/1,https://twitter.com/dog_rates/status/759793422261743616/photo/1",12,10,Maggie,doggo,None,pupper,None
898,758854675097526272,NaN,NaN,2016-07-29 02:40:28 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","This is Lilli Bee &amp; Honey Bear. Unfortunately, they were both born with no eyes. So heckin sad. Both 11/10 https://t.co/4UrfOZhztW",NaN,NaN,NaN,"https://twitter.com/dog_rates/status/758854675097526272/photo/1,https://twitter.com/dog_rates/status/758854675097526272/photo/1,https://twitter.com/dog_rates/status/758854675097526272/photo/1,https://twitter.com/dog_rates/status/758854675097526272/photo/1",11,10,Lilli,None,None,None,None
976,750026558547456000,NaN,NaN,2016-07-04 18:00:41 +0000,"<a href=""https://about.twitter.com/products/tweetdeck"" rel=""nofollow"">TweetDeck</a>",Meet Jax &amp; Jil. Jil is yelling the pledge of allegiance. If u cant take the freedom get out the kitchen Jax. 10/10s https://t.co/jrg29NDNhI,NaN,NaN,NaN,https://twitter.com/dog_rates/status/750026558547456000/photo/1,10,10,Jax,None,None,None,None
1104,735137028879360001,NaN,NaN,2016-05-24 15:55:00 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Meet Buckley. His family &amp; some neighbors came over to watch him perform but he's nervous af. 9/10 u got this pupper https://t.co/5bdCpPlno9,NaN,NaN,NaN,https://twitter.com/dog_rates/status/735137028879360001/photo/1,9,10,Buckley,None,None,pupper,None
1179,719367763014393856,NaN,NaN,2016-04-11 03:33:34 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Meet Sid &amp; Murphy. Murphy floats alongside Sid and whispers motivational quotes in his ear. Magical af. Both 11/10 https://t.co/7mmjyearQW,NaN,NaN,NaN,https://twitter.com/dog_rates/status/719367763014393856/photo/1,11,10,Sid,None,None,None,None
1199,716791146589110272,NaN,NaN,2016-04-04 00:55:01 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Meet Jennifur. She's supposed to be navigating. Not even buckled up. Insubordinate &amp; churlish. 11/10 would still pet https://t.co/h0trcJohYO,NaN,NaN,NaN,https://twitter.com/dog_rates/status/716791146589110272/photo/1,11,10,Jennifur,None,None,None,None
1222,714258258790387713,NaN,NaN,2016-03-28 01:10:13 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Meet Travis and Flurp. Travis is pretty chill but Flurp can't lie down properly. 10/10 &amp; 8/10\nget it together Flurp https://t.co/Akzl5ynMmE,NaN,NaN,NaN,https://twitter.com/dog_rates/status/714258258790387713/photo/1,10,10,Travis,None,None,None,None
1274,709198395643068416,NaN,NaN,2016-03-14 02:04:08 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","From left to right:\nCletus, Jerome, Alejandro, Burp, &amp; Titson\nNone know where camera is. 45/50 would hug all at once https://t.co/sedre1ivTK",NaN,NaN,NaN,https://twitter.com/dog_rates/status/709198395643068416/photo/1,45,50,None,None,None,None,None
1366,702671118226825216,NaN,NaN,2016-02-25 01:47:04 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Meet Rambo &amp; Kiwi. Rambo's the pup with the sharp toes &amp; rad mohawk. One stays woke while one sleeps. 10/10 for both https://t.co/MpH1Fe9LhZ,NaN,NaN,NaN,https://twitter.com/dog_rates/status/702671118226825216/photo/1,10,10,Rambo,None,None,None,None
1421,698195409219559425,NaN,NaN,2016-02-12 17:22:12 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Meet Beau &amp; Wilbur. Wilbur stole Beau's bed from him. Wilbur now has so much room for activities. 9/10 for both pups https://t.co/GPaoH5qWEk,NaN,NaN,NaN,https://twitter.com/dog_rates/status/698195409219559425/photo/1,9,10,Beau,None,None,None,None

In [52]:
df_twitter['expanded_urls']

0       https://twitter.com/dog_rates/status/892420643555336193/photo/1
1       https://twitter.com/dog_rates/status/892177421306343426/photo/1
2       https://twitter.com/dog_rates/status/891815181378084864/photo/1
3       https://twitter.com/dog_rates/status/891689557279858688/photo/1
4       https://twitter.com/dog_rates/status/891327558926688256/photo/1,https://twitter.com/dog_rates/status/891327558926688256/photo/1
5       https://twitter.com/dog_rates/status/891087950875897856/photo/1
6       https://gofundme.com/ydvmve-surgery-for-jax,https://twitter.com/dog_rates/status/890971913173991426/photo/1
7       https://twitter.com/dog_rates/status/890729181411237888/photo/1,https://twitter.com/dog_rates/status/890729181411237888/photo/1
8       https://twitter.com/dog_rates/status/890609185150312448/photo/1
9       https://twitter.com/dog_rates/status/890240255349198849/photo/1
10      https://twitter.com/dog_rates/status/890006608113172480/photo/1,https://twitter.com/dog_rates/status/890006608113172480/photo/1
11      https://twitter.com/dog_rates/status/889880896479866881/photo/1
12      https://twitter.com/dog_rates/status/889665388333682689/photo/1
13      https://twitter.com/dog_rates/status/889638837579907072/photo/1,https://twitter.com/dog_rates/status/889638837579907072/photo/1
14      https://twitter.com/dog_rates/status/889531135344209921/photo/1
15      https://twitter.com/dog_rates/status/889278841981685760/video/1
16      https://twitter.com/dog_rates/status/888917238123831296/photo/1
17      https://twitter.com/dog_rates/status/888804989199671297/photo/1,https://twitter.com/dog_rates/status/888804989199671297/photo/1
18      https://twitter.com/dog_rates/status/888554962724278272/photo/1,https://twitter.com/dog_rates/status/888554962724278272/photo/1,https://twitter.com/dog_rates/status/888554962724278272/photo/1,https://twitter.com/dog_rates/status/888554962724278272/photo/1
19      https://twitter.com/dog_rates/status/887473957103951883/photo/1,https://twitter.com/dog_rates/status/887473957103951883/photo/1,https://twitter.com/dog_rates/status/887473957103951883/photo/1,https://twitter.com/dog_rates/status/887473957103951883/photo/1
20      https://twitter.com/dog_rates/status/888078434458587136/photo/1,https://twitter.com/dog_rates/status/888078434458587136/photo/1
21      https://twitter.com/dog_rates/status/887705289381826560/photo/1
22      https://twitter.com/dog_rates/status/887517139158093824/video/1
23      https://twitter.com/dog_rates/status/887473957103951883/photo/1,https://twitter.com/dog_rates/status/887473957103951883/photo/1
24      https://twitter.com/dog_rates/status/887343217045368832/video/1
25      https://twitter.com/dog_rates/status/887101392804085760/photo/1
26      https://twitter.com/dog_rates/status/886983233522544640/photo/1,https://twitter.com/dog_rates/status/886983233522544640/photo/1
27      https://www.gofundme.com/mingusneedsus,https://twitter.com/dog_rates/status/886736880519319552/photo/1,https://twitter.com/dog_rates/status/886736880519319552/photo/1
28      https://twitter.com/dog_rates/status/886680336477933568/photo/1
29      https://twitter.com/dog_rates/status/886366144734445568/photo/1,https://twitter.com/dog_rates/status/886366144734445568/photo/1
                                                                     ...
2326    https://twitter.com/dog_rates/status/666411507551481857/photo/1
2327    https://twitter.com/dog_rates/status/666407126856765440/photo/1
2328    https://twitter.com/dog_rates/status/666396247373291520/photo/1
2329    https://twitter.com/dog_rates/status/666373753744588802/photo/1
2330    https://twitter.com/dog_rates/status/666362758909284353/photo/1
2331    https://twitter.com/dog_rates/status/666353288456101888/photo/1
2332    https://twitter.com/dog_rates/status/666345417576210432/photo/1
2333    https://twitter.com/dog_rates/status/666337882303524864/photo/1
2334    https://twitter.com/dog_rates/status/666293911632134144/photo/1
2335    https://twitter.com/dog_rates/status/666287406224695296/photo/1
2336    https://twitter.com/dog_rates/status/666273097616637952/photo/1
2337    https://twitter.com/dog_rates/status/666268910803644416/photo/1
2338    https://twitter.com/dog_rates/status/666104133288665088/photo/1
2339    https://twitter.com/dog_rates/status/666102155909144576/photo/1
2340    https://twitter.com/dog_rates/status/666099513787052032/photo/1
2341    https://twitter.com/dog_rates/status/666094000022159362/photo/1
2342    https://twitter.com/dog_rates/status/666082916733198337/photo/1
2343    https://twitter.com/dog_rates/status/666073100786774016/photo/1
2344    https://twitter.com/dog_rates/status/666071193221509120/photo/1
2345    https://twitter.com/dog_rates/status/666063827256086533/photo/1
2346    https://twitter.com/dog_rates/status/666058600524156928/photo/1
2347    https://twitter.com/dog_rates/status/666057090499244032/photo/1
2348    https://twitter.com/dog_rates/status/666055525042405380/photo/1
2349    https://twitter.com/dog_rates/status/666051853826850816/photo/1
2350    https://twitter.com/dog_rates/status/666050758794694657/photo/1
2351    https://twitter.com/dog_rates/status/666049248165822465/photo/1
2352    https://twitter.com/dog_rates/status/666044226329800704/photo/1
2353    https://twitter.com/dog_rates/status/666033412701032449/photo/1
2354    https://twitter.com/dog_rates/status/666029285002620928/photo/1
2355    https://twitter.com/dog_rates/status/666020888022790149/photo/1
Name: expanded_urls, Length: 2356, dtype: object

In [ ]:
a = 'https://twitter.com/dog_rates/status/888804989199671297/photo/1'
b = 'https://twitter.com/dog_rates/status/888804989199671297/photo/1'

##### Assessing expanded urls

In [15]:
temp = df_twitter['expanded_urls'].str.split(",", n = -1, expand = True)

In [16]:
temp.head()

,0,1,2,3,4,5,6,7
0,https://twitter.com/dog_rates/status/892420643...,None,None,None,None,None,None,None
1,https://twitter.com/dog_rates/status/892177421...,None,None,None,None,None,None,None
2,https://twitter.com/dog_rates/status/891815181...,None,None,None,None,None,None,None
3,https://twitter.com/dog_rates/status/891689557...,None,None,None,None,None,None,None
4,https://twitter.com/dog_rates/status/891327558...,https://twitter.com/dog_rates/status/891327558...,None,None,None,None,None,None

In [7]:
temp_df_twitter

(2356,)

In [21]:
temp[temp[7].notnull()]

,0,1,2,3,4,5,6,7
446,https://twitter.com/dog_rates/status/819004803...,https://twitter.com/dog_rates/status/819004803...,https://twitter.com/dog_rates/status/819004803...,https://twitter.com/dog_rates/status/819004803...,https://twitter.com/dog_rates/status/819004803...,https://twitter.com/dog_rates/status/819004803...,https://twitter.com/dog_rates/status/819004803...,https://twitter.com/dog_rates/status/819004803...
447,https://twitter.com/dog_rates/status/819006400...,https://twitter.com/dog_rates/status/819006400...,https://twitter.com/dog_rates/status/819006400...,https://twitter.com/dog_rates/status/819006400...,https://twitter.com/dog_rates/status/819006400...,https://twitter.com/dog_rates/status/819006400...,https://twitter.com/dog_rates/status/819006400...,https://twitter.com/dog_rates/status/819006400...
702,https://twitter.com/dog_rates/status/779834332...,https://twitter.com/dog_rates/status/779834332...,https://twitter.com/dog_rates/status/779834332...,https://twitter.com/dog_rates/status/779834332...,https://twitter.com/dog_rates/status/779834332...,https://twitter.com/dog_rates/status/779834332...,https://twitter.com/dog_rates/status/779834332...,https://twitter.com/dog_rates/status/779834332...
811,https://twitter.com/dog_rates/status/673320132...,https://twitter.com/dog_rates/status/673320132...,https://twitter.com/dog_rates/status/673320132...,https://twitter.com/dog_rates/status/673320132...,https://twitter.com/dog_rates/status/673320132...,https://twitter.com/dog_rates/status/673320132...,https://twitter.com/dog_rates/status/673320132...,https://twitter.com/dog_rates/status/673320132...

In [30]:
temp.iloc[811]

0    https://twitter.com/dog_rates/status/673320132811366400/photo/1
1    https://twitter.com/dog_rates/status/673320132811366400/photo/1
2    https://twitter.com/dog_rates/status/673320132811366400/photo/1
3    https://twitter.com/dog_rates/status/673320132811366400/photo/1
4    https://twitter.com/dog_rates/status/673320132811366400/photo/1
5    https://twitter.com/dog_rates/status/673320132811366400/photo/1
6    https://twitter.com/dog_rates/status/673320132811366400/photo/1
7    https://twitter.com/dog_rates/status/673320132811366400/photo/1
Name: 811, dtype: object

#### Tweet JSON file

- tweet ID, retweet count, and favorite count.

In [7]:
json.loads(tweets_json[1])

{'created_at': 'Sat Jul 15 23:25:31 +0000 2017',
 'id': 886366144734445568,
 'id_str': '886366144734445568',
 'text': 'This is Roscoe. Another pupper fallen victim to spontaneous tongue ejections. Get the BlepiPen immediate. 12/10 dee… https://t.co/iIu3AF8IWH',
 'truncated': True,
 'entities': {'hashtags': [],
  'symbols': [],
  'user_mentions': [],
  'urls': [{'url': 'https://t.co/iIu3AF8IWH',
    'expanded_url': 'https://twitter.com/i/web/status/886366144734445568',
    'display_url': 'twitter.com/i/web/status/8…',
    'indices': [117, 140]}]},
 'source': '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>',
 'in_reply_to_status_id': None,
 'in_reply_to_status_id_str': None,
 'in_reply_to_user_id': None,
 'in_reply_to_user_id_str': None,
 'in_reply_to_screen_name': None,
 'user': {'id': 4196983835,
  'id_str': '4196983835',
  'name': 'WeRateDogs™ 🏳️\u200d🌈',
  'screen_name': 'dog_rates',
  'location': '「 DM YOUR DOGS 」',
  'description': 'Your Only Source For Professional Dog Ratings Instagram and Facebook ➪ WeRateDogs partnerships@weratedogs.com ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀',
  'url': 'https://t.co/N7sNNHSfPq',
  'entities': {'url': {'urls': [{'url': 'https://t.co/N7sNNHSfPq',
      'expanded_url': 'http://weratedogs.com',
      'display_url': 'weratedogs.com',
      'indices': [0, 23]}]},
   'description': {'urls': []}},
  'protected': False,
  'followers_count': 8146862,
  'friends_count': 12,
  'listed_count': 6250,
  'created_at': 'Sun Nov 15 21:41:29 +0000 2015',
  'favourites_count': 142882,
  'utc_offset': None,
  'time_zone': None,
  'geo_enabled': True,
  'verified': True,
  'statuses_count': 10403,
  'lang': None,
  'contributors_enabled': False,
  'is_translator': False,
  'is_translation_enabled': False,
  'profile_background_color': '000000',
  'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png',
  'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png',
  'profile_background_tile': False,
  'profile_image_url': 'http://pbs.twimg.com/profile_images/1112594177961844736/qQK8NJT-_normal.jpg',
  'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1112594177961844736/qQK8NJT-_normal.jpg',
  'profile_banner_url': 'https://pbs.twimg.com/profile_banners/4196983835/1560181807',
  'profile_link_color': 'F5ABB5',
  'profile_sidebar_border_color': '000000',
  'profile_sidebar_fill_color': '000000',
  'profile_text_color': '000000',
  'profile_use_background_image': False,
  'has_extended_profile': False,
  'default_profile': False,
  'default_profile_image': False,
  'following': False,
  'follow_request_sent': False,
  'notifications': False,
  'translator_type': 'none'},
 'geo': None,
 'coordinates': None,
 'place': None,
 'contributors': None,
 'is_quote_status': False,
 'retweet_count': 3070,
 'favorite_count': 20487,
 'favorited': False,
 'retweeted': False,
 'possibly_sensitive': False,
 'lang': 'en'}

#### Image Prediction File

In [35]:
df_image_predict.tail()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
2070,891327558926688256,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,2,basset,0.555712,True,English_springer,0.225770,True,German_short-haired_pointer,0.175219,True
2071,891689557279858688,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,1,paper_towel,0.170278,False,Labrador_retriever,0.168086,True,spatula,0.040836,False
2072,891815181378084864,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,1,Chihuahua,0.716012,True,malamute,0.078253,True,kelpie,0.031379,True
2073,892177421306343426,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,1,Chihuahua,0.323581,True,Pekinese,0.090647,True,papillon,0.068957,True
2074,892420643555336193,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1,orange,0.097049,False,bagel,0.085851,False,banana,0.076110,False

- tweet_id is the last part of the tweet URL after "status/" → https://twitter.com/dog_rates/status/889531135344209921
- p1 is the algorithm's #1 prediction for the image in the tweet → golden retriever
- p1_conf is how confident the algorithm is in its #1 prediction → 95%
- p1_dog is whether or not the #1 prediction is a breed of dog → TRUE
- p2 is the algorithm's second most likely prediction → Labrador retriever
- p2_conf is how confident the algorithm is in its #2 prediction → 1%
- p2_dog is whether or not the #2 prediction is a breed of dog → TRUE

etc.

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [32]:
df['img_num'].unique()

array([1, 4, 2, 3], dtype=int64)

#### Quality

##### `twitter-archive-enhanced` table
- `tweet_id` is numeric, it should be string
- `source` has unwanted strings, should extrac specific parts: Twitter for iPhone,Twitter Web Client,Vine - Make a Scene and TweetDeck
- `in_reply_to_status_id`, `in_reply_to_user_id`, `retweeted_status_id`, `retweeted_status_id` and `retweeted_status_user_id` are numeric, they should be string
- `text` contain 'HTML Names' as: '&amp\;', '&gt\;' and '&lt\;'

#### Tidiness

##### `twitter-archive-enhanced` table
- `timestamp` has hour and date, should be splitted into others columns
- `expanded_urls` contains link for another sites and there are duplicated links

##### `tweer json` table
- `tweet_id` duplicated in twitter-archive-enhanced table
- this informations should be in same table

## Clean

##### `twitter-archive-enhanced` table

- Convert `tweet_id`,`in_reply_to_status_id`, `in_reply_to_user_id`, `retweeted_status_id`, `retweeted_status_id` and `retweeted_status_user_id` to String

In [47]:
# Code 
df_twitter['tweet_id'] = df_twitter['tweet_id'].astype(str)
df_twitter['in_reply_to_status_id'] = df_twitter['in_reply_to_status_id'].astype(str)
df_twitter['in_reply_to_user_id'] = df_twitter['in_reply_to_user_id'].astype(str)
df_twitter['retweeted_status_id'] = df_twitter['retweeted_status_id'].astype(str)
df_twitter['retweeted_status_id'] = df_twitter['retweeted_status_id'].astype(str)
df_twitter['retweeted_status_user_id'] = df_twitter['retweeted_status_user_id'].astype(str)

In [48]:
# Test
df_twitter.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null object
in_reply_to_status_id         2356 non-null object
in_reply_to_user_id           2356 non-null object
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           2356 non-null object
retweeted_status_user_id      2356 non-null object
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: int64(2), object(15)
memory usage: 313.0+ KB

- Extrac specific parts from `source`: Twitter for iPhone,Twitter Web Client,Vine - Make a Scene and TweetDeck

In [84]:
# Code
df_twitter['source'] = df_twitter['source'].str.extract(r'>(.*)<')

In [85]:
# Test
df_twitter['source'].unique()

array(['Twitter for iPhone', 'Twitter Web Client', 'Vine - Make a Scene',
       'TweetDeck'], dtype=object)

- Convert `&amp;`, `&gt;`, `&lt;` and `\n` to &, >, < and space, respectively.

In [209]:
# Code
import html
df_twitter['text'] = df_twitter['text'].apply(html.unescape)
df_twitter['text'] = df_twitter['text'].str.replace('\n',' ')

In [210]:
# Test
def check_match_substring(text):    
    list_of_substrings = ('&amp;','&gt;','&lt;','\n')
    if any(s in text for s in list_of_substrings):
        return True
    else:
        return False

In [211]:
df_twitter[df_twitter['text'].apply(check_match_substring)]

Empty DataFrame
Columns: [tweet_id, in_reply_to_status_id, in_reply_to_user_id, timestamp, source, text, retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp, expanded_urls, rating_numerator, rating_denominator, name, doggo, floofer, pupper, puppo]
Index: []

- Convert `timestamp` to datetime type and split date and hour into two columns.

In [227]:
# Code
df_twitter['date'] = pd.to_datetime(df_twitter['timestamp'],errors='coerce').dt.date

In [231]:
# Code
df_twitter['time'] = pd.to_datetime(df_twitter['timestamp'],errors='coerce').dt.time

In [228]:
# Test
df_twitter['date'].head()

0    2017-08-01
1    2017-08-01
2    2017-07-31
3    2017-07-30
4    2017-07-29
Name: date, dtype: object

In [232]:
# Test
df_twitter['time'].head()

0    16:23:56
1    00:17:27
2    00:18:03
3    15:58:51
4    16:00:24
Name: time, dtype: object

- Split the urls in `expanded_urls`, remove duplicated links and no twitter url.

In [378]:
# Code
def drop_duplicated_urls(urls):
    
    empty_list = []
    if isinstance(urls, str):
        fully_list = list(urls.split(','))
        
        for item in fully_list:
            if(item not in empty_list and item != None and 'twitter' in item):
                empty_list.append(item)

    return empty_list

In [371]:
expanded_urls = df_twitter['expanded_urls'].apply(drop_duplicated_urls)

In [374]:
df_twitter['expanded_urls'] = pd.DataFrame(expanded_urls.values.tolist())

In [377]:
# Test
df_twitter['expanded_urls'].head()

0    https://twitter.com/dog_rates/status/892420643555336193/photo/1
1    https://twitter.com/dog_rates/status/892177421306343426/photo/1
2    https://twitter.com/dog_rates/status/891815181378084864/photo/1
3    https://twitter.com/dog_rates/status/891689557279858688/photo/1
4    https://twitter.com/dog_rates/status/891327558926688256/photo/1
Name: expanded_urls, dtype: object

##### `tweer json` table

- Extract `id`,`retweet_count`,`favorite_count`  from JSON and store into dataframe, after that joint this dataframe with twitter archive enhanced dataframe.

In [395]:
tweet_json_list = []
for tweet_json_item in tweets_json:
    temp_list = []
    temp_list.append(json.loads(tweet_json_item)['id_str'])
    temp_list.append(json.loads(tweet_json_item)['retweet_count'])
    temp_list.append(json.loads(tweet_json_item)['favorite_count'])
    tweet_json_list.append(temp_list)

In [398]:
df_tweet_json = pd.DataFrame(tweet_json_list,columns=['id','retweet_count','favorite_count'])

In [401]:
df_tweet_json.head()

                   id  retweet_count  favorite_count
0  876484053909872640  2308           18207
1  886366144734445568  3070           20487
2  877611172832227328  77             0
3  888078434458587136  3342           21060
4  891689557279858688  8304           40744